*.ini
Build
Content/StarterContent/
Saved/
Intermediate/
*.uproject
Terra/
Content/Vectorfields/Maps/VectorFields.umap
Content/FirstPersonBP/Maps/AITestMap.umap
Content/FirstPersonBP/Maps/GameplayMap.umap